html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    padding-top: 6.7rem;
}

.bg-dark {
    background-color: #1d1d1b !important;
}

.bg-light {
    background-color: #f8f8f8 !important;
}

.footer * {
    color: #ffffff;
}

.footer p {
    color: #a3a3a3;
}

.footerHeading {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block;
}

a:hover {
    color: #ffce1b;
}

.footerLink {
    font-size: 1.4rem;
}

a.footerLink {
    text-decoration: none;
}

.bg-mid-grey {
    background-color: #393937;
}

.text-justified {
    text-align: justify;
}

.orangeBgColour {
    background: #ffce1b;
}

.boldFont {
    font-weight: 800;
}

.paleBgColour {
    background: #f8f8f8;
}

.form-label {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a3a3;
    display: block;
    margin-bottom: 1rem;
}

.form-label-required::after {
    content: "*";
}

.form-control-input, .form-control-select {
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: #fff;
    border: none !important;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 0 #1d1d1b;
    outline: none;
    padding: 1.5rem;
    width: 100%;
}

.form-control-input::placeholder, .form-control-select::placeholder {
    color: #a3a3a3;
    font-size: 1.3rem;
}

.submitBtnAboutUsEnquire {
    width: 24.2%;
    height: 5.1rem;
}

.loansCustomerImg {
    background-image: url("/img/customer-1.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top !important;
}

.largeFontSize {
    font-size: 2rem;
}

.largeSectionHeight {
    height: 64rem;
}

.twoColFeatureRow {
    min-height: 30rem;
}

.commercialRow {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.homeCustomerImg {
    background-image: url("/img/Youngbusinesswomanworkingatalaptop-1-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.section-sub-heading {
    font-size: 2.4rem;
    line-height: 1.3;
    font-weight: 800;
}

.greenBgColour {
    background-color: #45de6b;
}

.blueBgColour {
    background-color: #6dcdff;
}

.hoverLink {
    color: black;
}

.footerLink strong:hover, .linkHoverOrange:hover, .hoverLink:hover {
    color: #ffce1b !important;
}

.socialMediaIcons {
    font-size: 2rem;
    padding-right: 2rem;
}

.titleBanerImgMargin {
    margin-right: 5rem;
}

.accordion-button.faq.collapsed {
    background-color: #f8f8f8;
    color: black;
}

.accordion-button.faq:not(.collapsed) {
    background-color: #45de6b;
    border-color: #45de6b;
    color: black;
}

.faqAccordionContainer {
    font-size: 2rem;
    font-weight: 800;
}

.faqAccordionContainer.collapsed {
    background-color: #EFEFEF !important;
    border: 0.1rem solid #a3a3a3;
}

.faqAccordionEm {
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    margin-top: 3rem;
}

.submitBtn {
    font-size: 1.6rem;
}

.checkboxBlackBorder {
    border: 0.2rem solid #1d1d1b !important;
    border-radius: 0.2rem;
    height: 2.4rem;
    top: 0;
    margin-right: 2rem;
    width: 2.4rem;
}

.commercialRadioBlackBorder {
    border: 0.2rem solid #1d1d1b !important;
    border-radius: 0.2rem;
    top: 0;
    margin-right: 2rem;
}

.checkboxBlackBorder:checked {
    background-color: black;
    border-color: black;
}

.whiteToOrangeGradient {
    background: white;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.overlapVanContainer {
    position: relative;
}

.subSectionHeading {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
}

.carouselButton {
    background-color: inherit;
    border: none;
}

.split-content {
    padding: 88px 0 113px;
}

.split-content__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 1px;
    color: #32322b;
}

.sectionPadding {
    padding: 74px 0 88px !important;
}

.typesOfFinanceAccordionContainer {
    font-size: 2rem;
    font-weight: 800;
}

.typesOfFinanceAccordionContainer.collapsed {
    background-color: #EFEFEF !important;
    border: 0.1rem solid #a3a3a3;
}

.accordion-button.finance.collapsed {
    background-color: #f8f8f8;
    color: black;
}

.accordion-button.finance:not(.collapsed) {
    background-color: #6dcdff;
    border-color: #6dcdff;
    color: black;
}

.hoverInherit:hover {
    background-color: inherit !important;
}

.smallFooterText {
    font-size: 1.3rem;
}

.mediumSizedButton {
    height: 5rem;
    width: 25rem;
    line-height: 3.5rem;
    font-size: 2rem;
}

.findOutMoreFixedHeight {
    height: 10rem;
}

.orangeText {
    color: #ffce1b;
}

.loanApplicationBefore::before {
    content: "www.ideal4finance.com/";
}

.consentBanner {
    background-color: #1d1d1b;
    transition: opacity .8s ease;
}

.hidden {
    display: none;
}

.styleLikeLi {
    list-style-type: disc;
    display: list-item;
    margin-left: 2em;
}

.styleLikeLiCircle {
    list-style-type: circle;
    display: list-item;
    margin-left: 2em;
    margin-bottom: 1em;
}

.removeBulletPoint li {
    list-style-type: none;
}

.carouselRow {
    height: 50rem;
    overflow-y: scroll;
}

.carouselRow::-webkit-scrollbar {
    display: none;
}

.contactForm {
    background-color: rgba(29, 29, 27, 0.1) !important;
}

.guide-container {
    min-height: 76rem;
    background-color: #fff;
}

.start-quide-parent {
    background-color: #fafafa;
    max-width: 40rem;
    margin: 0 auto 0 auto;
    border: 1px solid #ddd;
}

.btn-dark:disabled {
    background-color: #212529 !important;
}

.nav-link {
    color: #464a4c !important;
}

.badge {
    width: 12rem;
    font-weight: 400;
    color: black !important;
}

.selectList {
    font-size: 1.6rem !important;
    height: 100% !important;
}

.textAreaHeight {
    height: 19rem !important;
}


.image-container {
    text-align: center;
}

.image {
    max-width: 100%;
}

.form-container {
    padding-top: 6.5rem;
}

.checkbox-label {
    background-color: #fff;
    padding: 4px 0px 4px 4px;
}

.main-heading {
    font-size: 4.8rem !important;
    font-weight: 800 !important;
}

@media (min-width: 768px) {
    .main-heading {
        font-size: 3.6rem;
        line-height: 1.1
    }
}

@media (min-width: 992px) {
    .main-heading {
        font-size: 4.8rem;
        line-height: 1
    }
}

.logInContainerHeight {
    height: 75rem;
}

.portalLogIn {
    background-image: url("/img/portal-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.guide-container {
    min-height: 76rem;
    background-color: #fff;
}

.start-quide-parent {
    background-color: #fafafa;
    max-width: 40rem;
    margin: 0 auto 0 auto;
    border: 1px solid #ddd;
}

.btn-dark:disabled {
    background-color: #212529 !important;
}

.badge {
    width: 15rem;
    font-weight: 400;
}

.selectList {
    font-size: 1.6rem !important;
    height: 100% !important;
}

.image-container {
    text-align: center;
}

.image {
    max-width: 100%;
}

#confirmFrom{
    max-width: 40rem;
    background-color: #00aeef;
    margin: -9.1rem auto 0 auto;
    color: #fff;
    padding: 10px;
}

.fr {
    float: right !important;
}

.dropdown {
    position: static !important;
}

.dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    margin-top: 0 !important;
    width: 100% !important;
    background-color: #393937;
    position: absolute;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 3rem;
    min-height: 22rem;
    padding-bottom: 5rem;
    background-image: url("/img/ideal-4-finance-icon-logo-black@2x.png");
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position: 9rem 2.5rem;
}

@media (max-width: 50rem) {
    .dropdown-menu {
        padding-left: 0;
        background-image: none;
    }

    .trustpilot-img-remove-padding {
        padding-left: 0 !important;
    }

    .dropdown-items li {
        margin-left: 0 !important;
    }

    .large-heading-responsive {
        font-size: 2rem !important;
    }
}

.dropdown-item {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.dropdown-item:hover {
    background: none !important;
    color: #ffce1b !important;
}

.dropdown-arrow:before {
    content: "x";
    display: block;
    position: absolute;
    font-size: 1.8rem;
    line-height: 1;
    font-family: icomoon, sans-serif;
    right: -.5rem;
    top: 3.1rem
}

.nav-item {
    position: relative;
    padding-right: 1.2rem;
}

.nav-item *, .nav-item * {
    color: #ffffff;
}

.nav-link {
    padding: 1.2rem;
    color: #464a4c !important;
}

.title-banner {
    background-color: #6dcdff;
}

.section-heading {
    color: #1d1d1b;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
}

@media (min-width: 992px) {
    .section-heading {
        font-size: 4rem;
        line-height: 1
    }
}

.nav-transition:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 20px;
    bottom: 0;
    background-color: #ffce1b;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-transition:hover:before {
    visibility: visible;
    width: 100%;
}

.banner-logo {
    margin-right: 22rem;
}

.generic-content {
    background-color: #ffffff;
}

p.first {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.block-quoted {
    box-sizing: border-box;
    position: relative;
    width: 66%;
    padding: 20px 20px 20px 70px;
    font-style: italic;
    line-height: 1.5em;
}

.block-quoted:before {
    font-family: "FontAwesome";
    content: "\f10d";
    font-size: 2rem;
    font-style: normal;
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.block-quoted-text {
    font-style: normal;
    font-weight: 800;
}

.block-quoted-text:after {
    content: "\f10e";
    font-family: "FontAwesome";
    font-size: 2rem;
    margin-left: 1rem;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

#hero {
    background: linear-gradient(
            0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/handshake-cmp.jpg) center bottom;
    background-attachment: fixed;
    color: white;
    background-size: cover;
}

.text-warning {
    color: #ffce1b !important;
}

.btn-warning, .bg-warning {
    background-color: #ffce1b !important;;
}

.editfield-with-unit {
    border: 0;
    border-radius: 6px;
    padding: 16px 15px 17px;
    background: #ebf0f2;
    box-shadow: inset 0 2px 0 0 #c6cacc;
    line-height: 19px;
    width: 100%;
    font-size: 1.2rem;
}

select.editfield-minimal {
    margin: 0 0 10px;
    width: 100%;
    height: 52px;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 0 2px 0 0 #c6cacc;
    display: inline-block;
    color: #566266;
    font-weight: 500;
    font-size: 1rem;
    background-color: #ebf0f2;
}

span.isMoney:before {
    top: 2.2rem;
    left: -2rem;
    font-size: 2rem;
}

.isMoney:before {
    position: absolute;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    color: #0f2556;
    content: "\f154";
    margin-left: -1.2rem;
}

.btn-info {
    background-color: #6dcdff !important;
    border-color: #6dcdff !important;
}

.bg-info {
    background-color: #6dcdff !important;
}

.bg-success {
    background-color: #45de6b !important;
}

.btn-success {
    background-color: #45de6b !important;
    border-color: #45de6b !important;
}

.input-group-text {
    background-color: transparent;
    border-color: transparent;
}

#criteriaForm .form-label {
    display: inline !important;
}

#criteriaForm .form-check {
    padding-left: 0.6rem !important;
}

.form-check-input:checked {
    background-color: #000;
}

.dropdown-wrapper__native {
    color: #566266;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 16px 55px 13px 15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 100%;
    outline: 0;
    font-family: Open Sans, Arial #000, sans-serif;
    font-weight: 500;
    line-height: 19px;
    font-size: 1rem;
}

.dropdown-wrapper {
    height: 50px;
    background: #ebf0f2;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #c6cacc;
    width: 100%;
    margin: 0 0 10px;
    border: 0;
    padding-left: 1rem;
    font-size: 1.2rem;
}

@font-face {
    font-family: "icomoon";
    src: url(/fonts/icomoon.eot?de1dda72824878d4222738d10777053b);
    src: url(/fonts/icomoon.eot?de1dda72824878d4222738d10777053b) format("embedded-opentype"), url(/fonts/icomoon.ttf?c79710f43effd0ade84ade1a545b5256) format("truetype"), url(/fonts/icomoon.woff?db8d7887ed287fad1c529d3e097a52d8) format("woff"), url(/fonts/icomoon.svg?d56b10e36fdb2c153c61d0ab6a4b3dc5) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.site-hero__title--has-icon:before {
    position: absolute;
    font-family: "icomoon", serif;
    content: "\E906";
    top: 0;
    left: 0;
    font-size: 13rem;
    color: #1d1d1b;
}

.site-hero__title--has-icon {
    padding-left: 16rem;
}

@media (max-width: 991.98px) {
    .site-hero__title--has-icon:before {
        display: none;
    }

    .site-hero__title--has-icon {
        padding-left: 0 !important;
    }
}

.site-hero__title {
    position: relative;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 4.8rem;
}

.whiteFontLinkBlack {
    color: white !important;;
}

.whiteFontLinkBlack a {
    color: black !important;
    text-decoration: underline;
}

.whiteToBlueGradient a:hover {
    color: #ffce1b !important;
}

.callUsFontSize {
    font-size: 3.5rem
}

.split-content__subtitle--has-icon:before {
    position: absolute;
    font-family: "icomoon", serif;
    content: "\E906";
    top: 1rem;
    left: 0;
    font-size: 5.2rem;
    color: #1d1d1b;
}

.split-content__subtitle {
    position: relative;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.24px;
    color: #1d1d1b;
    max-width: 47.5rem;
}

.split-content__subtitle--has-icon {
    padding-left: 8rem;
}

.content-tabs__tab-list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-tabs__tab-list li a {
    transition: all 400ms ease;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #929292;
    padding: 0.5rem 0 0.5rem 3rem;
    text-decoration: none;
    display: block;
    width: 100%;
    border-left: 1px solid #979797;
}

.content-tabs__sliding-icon {
    position: absolute;
    top: 0;
    left: -1.1rem;
    background-color: #fff;
    padding: 0.5rem 0;
    border: none !important;
    font-size: 2.2rem;
    width: 2.2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-card__icon {
    font-size: 8rem;
    color: #1d1d1b;
    margin-bottom: 3.6rem;
    line-height: 1;
}

[class^=icon-], [class*=" icon-"] {
    font-family: "icomoon", serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-network:before {
    content: "\E905";
}

.icon-team:before {
    content: "\E904";
}

.icon-support:before {
    content: "\E903";
}

.icon-clock:before {
    content: "\E902";
}

.icon-checklist:before {
    content: "\E901";
}

.icon-like:before {
    content: "\E900";
}

.content-tabs__tab-pane {
    display: none;
}

.content-tabs__tab-list li.active a {
    color: #1d1d1b;
    text-decoration: none;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.checkedRadio {
    background: #ffce1b !important;
    box-shadow: inset 0 2px 0 0 #ffce1b !important;
    color: #fff !important;
}

.radio-list__label:hover {
    background: #ffce1b !important;
    box-shadow: inset 0 2px 0 0 #ffce1b !important;
    color: #fff !important;
}

.smart-date {
    width: 100%;
    background-color: #ebf0f2;
    border: 0;
    box-shadow: 0 2px 0 0 #c6cacc;
    padding: 1.6rem 1.5rem;
    outline: 0;
    font-size: 1.2rem;
    color: #566266 !important;
}

.radio-list__label {
    background: #ebf0f2;
    color: #566266;
    padding: 1.5rem 0 1.5rem 3rem;
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 2px 0 0 #c6cacc;
    transition: all .1s linear;
    display: block;
    margin-bottom: 1rem;
}

.radio-list__input {
    margin-right: 1rem;
}

.w-48 {
    width: 48%;
}

.w-49 {
    width: 49%;
}

.fs-40 {
    font-size: 4rem;
}

.removeStepArrowNumberInput::-webkit-outer-spin-button,
.removeStepArrowNumberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.low-z-index {
    z-index: 10 !important;
}

.loans-responsive-image {
    width: 15rem !important;
    height: 8rem !important;
}

@media only screen and (max-width: 50rem) {
    .loans-responsive-image {
        width: 8rem !important;
        height: 5rem !important;
    }

    .responsive-text, .responsive-text h3 {
        font-size: 1rem !important;
    }

    div.lw-lender-logo {
        height: 100% !important;
    }

    .broker-tac-modal {
        width: 100% !important;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.2rem;
    position: relative;
    color: white;
}

.portal-footer-height {
    height: 10rem;
}

.portal-body-padding {
    padding-bottom: 6rem;
}

.uploadHover:hover {
    background-color: white !important;
    border: 1px solid #45de6b !important;
    color: black !important;
}

.checkbox-small-dimensions {
    height: 2rem;
    width: 2rem;
}

.always-hidden {
    display: none;
}

.signature-font {
    font-family: "Cedarville Cursive", cursive;
}

.large-heading-responsive {
    font-size: 4.8rem;
    font-weight: 800;
}

.large-spinner {
    height: 5rem !important;
    width: 5rem !important;
}

.broker-tac-modal {
    width: 75%;
}

.landingSubHeading {
    font-size: 1.69rem;
}